@import './reset-style/reset';
@import './app-styles/app';
@import './shared-styles/common-styles';

@import './shared-styles/variables';



.container{
  width: 100%;
  max-width: 1300px;
  align-self: center;
  justify-self: center;
  margin: auto;
}

// app-goal class


.app-goal{
  align-self: center;
  font-size: 2rem;
  text-align: center;
}

.highlight-text{
  color: rgb(255, 255, 255);
  transform: scale(0.5);
  animation: deepen-color 1s ease-in forwards;
}

@keyframes deepen-color{
  from{
    transform: scale(0.5);
    color: rgb(255, 255, 255);
  }
  to{
    transform: scale(1);
    color:rgb(255, 255, 0);
  }
}

@media(min-width: 600px){
  .app-goal{
    align-self: center;
    font-size: 2.5rem;
    text-align: center;
  } 
}

@media(min-width: 1000px){
  .app-goal{
    align-self: center;
    font-size: 3rem;
    text-align: center;
  } 
}

@media(min-width: 1500px){
  .app-goal{
    align-self: center;
    font-size: 4rem;
    text-align: center;
  } 
}


.collapsible-screen-container{
  display: flex;
  align-items: stretch;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  animation: shrink 2s 5s forwards ease-in;
  overflow: hidden;
}

@keyframes shrink{
  from{
    max-height: 100vh;
    display: flex;
  }
  to{
    max-height: 0vh;
    display: none;
  }
}


// main screen

.steps-heading{
  font-size: 1.4rem;
  margin-bottom: 20px;
  text-align: center;
}

@media(min-width: 600px){
  .steps-heading{
    font-size: 1.8rem;
  }
}

@media(min-width: 1000px){
  .steps-heading{
    font-size: 2rem;
  }
}

@media(min-width: 1500px){
  .steps-heading{
    font-size: 2.5rem;
  }
}


.steps-content{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
}

@media (min-width: 800px) {
  .steps-content{
    grid-template-columns: 40% 60%;
  }
}

.steps-image-content img{
  width: 100%;
}

.steps-text-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.steps-subheading{
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.steps-subheading-content{
  font-size: 1.1rem;
}

@media(min-width: 600px){
  .steps-subheading{
    font-size: 1.5rem;
  }

  .steps-subheading-content{
    font-size: 1.2rem;
  }
}

@media(min-width: 1000px){
  .steps-subheading{
    font-size: 1.7rem;
  }

  .steps-subheading-content{
    font-size: 1.4rem;
  }
}

@media(min-width: 1500px){
  .steps-subheading{
    font-size: 2rem;
  }

  .steps-subheading-content{
    font-size: 1.6rem;
  }
}

.question-list{
  margin: 10px 20px 20px 40px;
  font-size: 1.1rem;
}



// @media(min-width: 600px){

// }

// @media(min-width: 1000px){

// }

// @media(min-width: 1500px){

// }