.full-space{
  width: 100%;
  height: 100%;
}

.flex{
  display: flex;
}

.centered-content{
  justify-content: center;
  align-content: center;
}

.dark-bg{
  background:black;
  color: #fff;
}

.section-padding{
  padding: 40px;
}
